<div
  class="container-fluid bg-dark text-white py-5 px-sm-3 px-lg-5"
  style="background: #272727 !important"
>
  <div class="row pt-5">
    <div class="col-lg-7 col-md-12">
      <div class="row">
        <div class="col-md-6 mb-5">
          <h5 class="text-white text-uppercase mb-4">Get In Touch</h5>
          <p style="display: flex; align-items: center">
            <i class="fa fa-map-marker-alt mr-2"></i>Computer and Mathematical
            Science Department <br />
            Lewis University, One University Parkway, Romeoville, IL 60446
          </p>
          <p><i class="fa fa-phone-alt mr-2"></i>Phone</p>
          <p><i class="fa fa-envelope mr-2"></i>info@example.com</p>
          <div class="d-flex justify-content-start mt-4">
            <a class="btn btn-outline-light btn-square mr-2" href="#"
              ><i class="fab fa-twitter"></i
            ></a>
            <a class="btn btn-outline-light btn-square mr-2" href="#"
              ><i class="fab fa-facebook-f"></i
            ></a>
            <a class="btn btn-outline-light btn-square mr-2" href="#"
              ><i class="fab fa-linkedin-in"></i
            ></a>
            <a class="btn btn-outline-light btn-square" href="#"
              ><i class="fab fa-instagram"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-5 col-md-12 mb-5">
      <h5 class="text-white text-uppercase mb-4">Hyperlinks</h5>
      <div class="d-flex flex-column justify-content-start">
        <a class="text-white mb-2" href="#"
          ><i class="fa fa-angle-right mr-2"></i>Hyperlink 1</a
        >
        <a class="text-white mb-2" href="#"
          ><i class="fa fa-angle-right mr-2"></i>Hyperlink 2</a
        >
        <a class="text-white mb-2" href="#"
          ><i class="fa fa-angle-right mr-2"></i>Hyperlink 3</a
        >
        <a class="text-white mb-2" href="#"
          ><i class="fa fa-angle-right mr-2"></i>Hyperlink 4</a
        >
      </div>
    </div>
  </div>
</div>
